body{
    background-color:#ddf3f5;
}
h1{
    color:#3b6978;
}

h3{
    color: #0a97b0;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}
